/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	margin-block-start: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* custom styling */
body {
	font-family: 'Inconsolata', monospace;
	background-color: #011627;
	background-image: url("data:image/svg+xml,%3Csvg width='12' height='24' viewBox='0 0 12 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23182b3a' fill-opacity='0.29'%3E%3Cpath d='M2 0h2v12H2V0zm1 20c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM9 8c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zm-1 4h2v12H8V12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	color: #E71D36;
}

.hidden {
  opacity:0;
}
.console-container {
  font-size:4em;
  text-align:left;
  height:100px;
  width:600px;
  display:block;
  color:white;
	margin:auto;
}
.console-underscore {
	background-color: #FDFFFC;
	height: 0.75em;
	width: 0.35em;
	display:inline-block;
	position: absolute;
	margin-left: 5px;
	margin-top: 7px;
}

.about {
	font-size: 2em;
	margin-right: auto;
	margin-left: auto;
	width: 600px;
}

.project-plug {
	padding-top: 15px;
}

.intro {
	font-size: 2em;
	margin: auto;
	margin-top: 200px;
	margin-bottom: 40px;
	width: 600px;

}

.brand-logo {
	margin-left: 20px;
	/* font-size: 1.8rem; */
}

.nav-wrapper {
	position: sticky;
	background-color: #011424
}

.contact-button {
	text-transform: uppercase;
	background-color: #E71D36;
	color: #FDFFFC;
	width: 220px;
	margin: auto;
	margin-top: 50px;
	padding: 10px;
	font-size: 2em;
	text-align: center;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
	transition: all 0.4s ease 0s;
}

.contact-button:hover {
	cursor: pointer;
	background: #434343;
	letter-spacing: 1px;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;
}

.contact-button:active {
	transform: scale(0.95);
}

.project {
	height: 400px;
	background-color: #000b13;
	margin: auto;
	margin-top: 50px;
	width: 100%;
	max-width: 900px;
	box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
}

.projects-container {
	position: relative;
	margin-bottom: 200px;
}

.project-title {
	text-align: center;
	margin: 0;
}

.project-image {
	margin-right: 0;
	height: 100%;
	width: 35%;
	overflow: hidden;
}


.project-image img {
	max-height: 400px;
	margin-right: 500px;
	filter: blur(5px);
	object-fit: contain;
}

.dev-image img{
	padding-right: 700px;
}

.project-content {
	font-size: 1.5em;
	line-height: 1.3;
	padding: 20px;
	width: 65%;
	float: right;
	padding-right: 34px;
	padding-left: 50px;
}

.project-content p {
	color: #E71D36;
}

.project-content h1 {
	color: #ff9f1c;
	font-size: 2em;
	margin: 0;
	margin-bottom: 10px;
	margin-top: 10px;

}

.project-button {
	text-align: center;
	display: inline-block;
	width: 200px;
	margin-top: 30px;
	font-size: 1em;
}

.heading {
	font-size: 3.5em;
	background-color: #000b13;
	color: #ff9f1c;
	width: 400px;
	text-align: center;
	margin: auto;
	margin-top: 20px;
	padding: 15px;
	box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
}

.outer-heading-container {
	margin: auto;
	margin-top: 250px;
	
}

.contact-heading {
	margin-bottom: 50px;
}

.contact-container {
	width: 900px;
	text-align: center;
	margin: auto;
	margin-bottom: 250px;
}

.contact-container a {
	text-transform: none;
	font-size: 2em;
	padding: 10px;
	margin-left: 20px;
}

.navbar-item {
	font-size: 26.25px;
}

.right {
	padding-right: 10px;
}

